# vision language grasp requirements
absl-py
addict
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
Babel
backcall
beautifulsoup4
black
bleach
cachetools
cffi
chardet
charset-normalizer
cycler
Cython
debugpy
decorator
defusedxml
deprecation
entrypoints
executing
fastjsonschema
ftfy
regex
google-auth
google-auth-oauthlib
graphviz
graspnetAPI
grpcio
h5py
idna
importlib-metadata
importlib-resources
imutils
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
memory-profiler
mistune
mkl-fft
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
oauthlib
object2urdf
open3d
open3d_plus
opencv-python
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pybullet
pycocotools
pycparser
Pygments
pyparsing
pyquaternion
pyrsistent
PyYAML
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
Send2Trash
Shapely
sniffio
soupsieve
stack-data
tensorboardX
tensorboard
tensorboard-plugin-wit
termcolor
terminado
threadpoolctl
tinycss2
tomlkit
tornado
tqdm
traitlets
trimesh
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
zipp